body {
    font-family: Arial, sans-serif;
    background-color: #2C1B13; 
    color: #F4E0B8; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #7A3E1E;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    width: 300px;
    text-align: center;
}
.logo {
    width: 120px;
    margin-bottom: 10px;
}


h1 {
    color: #F4C96A;
}

h2 {
    color: #E16A2A; 
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
}

button {
    background-color: #2E5A35; 
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}
button:hover {
    background-color: #1f3f25;
}
a {
    color: #F4C96A;
    text-decoration: none;
}
